*.gem
.bundle
.overmind.env
.tool-versions
data/*
Gemfile.lock
gemfiles/*.lock
gemfiles/*.gemfile
pkg/*
.rubocop-*-yml
.ruby-version
.rvmrc
spec/dummy/spec/internal/db/*.sqlite
spec/dummy/spec/internal/combustion
spec/dummy/spec/internal/test_another
